In [1]:
# 1_데이터 프레임 생성
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]}) # dict를 통한 데이터프레임 생성

In [3]:
type(df)                                                            # 생성한 데이터프레임의 type 확인

pandas.core.frame.DataFrame

In [4]:
df                                                                  # 출력해보기

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
dummy = {'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]} # dict를 통한 데이터프레임 생성

In [8]:
df2 = pd.DataFrame(dummy)
type(df2)

pandas.core.frame.DataFrame

In [9]:
df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [11]:
a = [[1, 4, 7], [2, 5, 8], [3, 6, 9]]                    # list를 통한 데이터프레임 생성
print(a)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [12]:
df3 = pd.DataFrame(a)
type(df3)

pandas.core.frame.DataFrame

In [13]:
df3                                                      # 출력! 컬럼명을 지정하지 않아 컬럼명만 빼고 같음

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [15]:
df3.columns = ['a', 'b', 'c']
df3

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [24]:
a = {'abc': [400], '회사': [10], '123': [6]}    # 이렇게 만들면 구상하는 것과 같이 나오지 않음
print(a)

{'abc': [400], '회사': [10], '123': [6]}

In [25]:
df = pd.DataFrame(a)
type(df)

pandas.core.frame.DataFrame

In [26]:
df

   abc  회사  123
0  400  10    6

In [31]:
a = {'company': ['abc', '회사', 123], '직원수': [400, 10, 6]}  # 다양한 유형의 데이터가 데이터프레임에 들어감
df2 = pd.DataFrame(a)
type(df2)

pandas.core.frame.DataFrame

In [29]:
df2

  company  직원수
0     abc  400
1      회사   10
2     123    6

In [32]:
b = {'company': ['abc', '회사', 123], '직원수': [400, 10, 6], '위치': ['Seoul', NaN, 'Busan']}
df3 = pd.DataFrame(b)
type(df3)

NameError: name 'NaN' is not defined

In [33]:
c = {'company': ['abc', '회사', 123], '직원수': [400, 10, 6], '위치': ['Seoul',  , 'Busan']}

SyntaxError: invalid syntax (1083764487.py, line 1)

In [34]:
import numpy as np    # 결측값은 numpy로 해결

In [36]:
b = {'company': ['abc', '회사', 123], '직원수': [400, 10, 6], '위치': ['Seoul',np.NaN, 'Busan']}
df3 = pd.DataFrame(b)
type(df3)

pandas.core.frame.DataFrame

In [37]:
df3

  company  직원수     위치
0     abc  400  Seoul
1      회사   10    NaN
2     123    6  Busan

In [38]:
# 2. 칼럼명 추출 변경
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [39]:
df.columns    # 컬럼 확인

Index(['a', 'b', 'c'], dtype='object')

In [41]:
df.columns[1]

'b'

In [43]:
df.columns = ['d', 'e', 'f']    # 컬럼명 체인지

In [44]:
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [46]:
df.columns = ['디', 'e', '에프']
df

   디  e  에프
0  1  4   7
1  2  5   8
2  3  6   9

In [47]:
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})    # rename 알아보기 전 데이터 정리
df.columns = ['d', 'e', 'f']
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [54]:
df.rename(columns = {'d' : '디', 'f' : '에프'})

   디  e  에프
0  1  4   7
1  2  5   8
2  3  6   9

In [56]:
df2 = df.rename(columns = {'d' : '디', 'f' : '에프'})    # 컬럼명을 바꾸고 저장하여 출력하고 싶을 때_1
print(df2)

   디  e  에프
0  1  4   7
1  2  5   8
2  3  6   9

In [59]:
df.rename(columns = {'d' : '디', 'f' : '에프'}, inplace = True)    # 컬럼명 바꾸고 저장_2
df

   디  e  에프
0  1  4   7
1  2  5   8
2  3  6   9

In [61]:
# 3. copy를 이용한 데이터 복사
df = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [64]:
df.rename(columns = {'a' : 'd', 'b' : 'e', 'c' : 'f'}, inplace = True)
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9

In [65]:
df

   d  e  f
0  1  4  7
1  2  5  8
2  3  6  9